#yourElement {
  animation-name: bounceOutLeft;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

#bbb {
  color: #c9302c; /* red */
  text-align: center;

  &:hover {
    color: orange;
    text-decoration: none;
  }

}

svg {
  width: 100%;
  height: 600px;
}

.blob {
  stroke: orange;
  stroke-width: 4;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  
  &:hover {
    color: orange;
    text-decoration: none;
  }

}

.hello {
  font-size: 4rem;
}

.center-button {
  text-align: center;
  padding-top: 10rem;
}

.btn-scary {
  font-size: 4rem;
  color: orange;
  background-color: black;
  padding: 4rem;

  &:hover {
    color: black;
    background-color: orange;
    padding: 6rem;
    margin-top: -2rem;
  }

}

.fin-centered {
  text-align: center;
  font-size: 4rem;
  padding-top: 10rem;

  h1 {
    font-size: 5rem;
  }

  a button {
    padding: 1.25rem;
    font-size: 2rem;
  }
}

.spooky-font {
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

.spooked:hover {
  color: orange;
  text-decoration: none;
}
